<!DOCTYPE html>
<html>
<head>
    <title>Masyu Game</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Masyu_Game/styles.css' %}">
</head>
<body>
    <h1>Masyu Game</h1>
    <div id="game-board">
        {% for row in board %}
            <div class="row">
                {% for cell in row %}
                    <div class="cell {% if cell %}circle-{{ cell }}{% endif %}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
