{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masyu!</title>

    <link rel="stylesheet" href="{% static 'Masyu_Game/index.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>

    <h1 class="main-header fuchsia-background white-font pixelify-sans-font">
        Masyu!
    </h1>

    <section class="playing-buttons-section">
        <button type="button">Automatic Play.</button>
    </section>


    <section class="input-modes-visualizer-section">
        <button type="button">Automatic Play.</button>
        <button type="button">Automatic Play.</button>
        <button type="button">Automatic Play.</button>
    </section>

    <section class="game-board-section">
        <button type="button">Automatic Play.</button>
    </section>

    <section class="rules-section">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    </section>

</body>
</html>